

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProdutoLabel">Create or edit a Produto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!produto.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="produto.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                [(ngModel)]="produto.nome"
            required minlength="3" maxlength="31" />
            <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nome?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nome?.errors?.minlength">
                   This field is required to be at least 3 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nome?.errors?.maxlength">
                   This field cannot be longer than 31 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                [(ngModel)]="produto.descricao"
            maxlength="127" />
            <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.descricao?.errors?.maxlength">
                   This field cannot be longer than 127 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_preco">Preco</label>
            <input type="number" class="form-control" name="preco" id="field_preco"
                [(ngModel)]="produto.preco"
            required min="0" />
            <div [hidden]="!(editForm.controls.preco?.dirty && editForm.controls.preco?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.preco?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.preco?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.preco?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estoqueMinimo">Estoque Minimo</label>
            <input type="number" class="form-control" name="estoqueMinimo" id="field_estoqueMinimo"
                [(ngModel)]="produto.estoqueMinimo"
            required min="0" />
            <div [hidden]="!(editForm.controls.estoqueMinimo?.dirty && editForm.controls.estoqueMinimo?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.estoqueMinimo?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.estoqueMinimo?.errors?.min">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.estoqueMinimo?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label for="field_categoria">Categoria</label>
            <select class="form-control" id="field_categoria" name="categoria" [(ngModel)]="produto.categoria"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="categoriaOption.id === produto.categoria?.id ? produto.categoria : categoriaOption" *ngFor="let categoriaOption of categorias; trackBy: trackCategoriaById">{{categoriaOption.descricao}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.categoria?.dirty && editForm.controls.categoria?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.categoria?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
